.controls {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group label {
  margin-bottom: var(--spacing-less);
}

.input-group input[type='checkbox'] {
  margin-left: var(--spacing);
}
