.image-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

.grid-square {
  position: absolute;
  border: 1px var(--border-style) var(--border-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.grid-square span {
  font-size: var(--text-md);
  color: black;
  background: rgba(255, 255, 255, 0.4);
  padding: 2px 4px;
  border-radius: var(--box-rounding);
}

@media (max-width: 1100px) {
  .grid-square span {
    font-size: var(--text-sm);
  }
}

@media (max-width: 800px) {
  .grid-square span {
    padding: 1px 2px;
    font-size: var(--text-sm);
  }
}

@media (max-width: 600px) {
  .grid-square span {
    font-size: var(--text-xs);
  }
}
