.app .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  padding: var(--spacing);
  border: var(--border-size) var(--border-style) var(--border-color);
  border-radius: var(--box-rounding);
  background-color: var(--background-alt);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  width: 100%;
}

.app .title {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  border: var(--border-size) var(--border-style) var(--border-color-alt);
  padding: var(--spacing);
  border-radius: var(--box-rounding);
  background-color: var(--background-alt);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.app .content {
  display: flex;
  gap: var(--spacing);
  padding: var(--spacing);
  border: var(--border-size) var(--border-style) var(--border-color-alt);
  border-radius: var(--box-rounding);
  background-color: var(--background-alt);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  width: 100%;
  align-items: center;
}

@media (max-width: 1100px) {
  .app .content {
    flex-direction: column;
    padding: calc(var(--spacing) / 2);
    gap: calc(var(--spacing) / 2);
    width: 100%;
  }
}
