.app .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing);
  border: var(--border-size) var(--border-style) var(--border-color);
  border-radius: var(--box-rounding);
  background-color: var(--background-alt);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  width: 100%;
}

.app .content {
  display: flex;
  gap: var(--spacing);
  padding: var(--spacing);
  border: var(--border-size) var(--border-style) var(--border-color);
  border-radius: var(--box-rounding);
  background-color: var(--background-alt);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  width: 100%;
}
