.current-square-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
}

.current-square {
  max-width: 300px;
  min-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: var(--border-size) var(--border-style) var(--border-color);
  border-radius: var(--box-rounding);
}

.navigation {
  display: flex;
  gap: var(--spacing);
}

.jump-controls {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  margin-top: var(--spacing);
}

.jump-controls input {
  width: var(--input-sm);
}
