.current-square-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  width: 100%;
}

.current-square {
  max-width: 400px;
  width: 100%;
  display: block;
  border: var(--border-size) var(--border-style) var(--border-color);
  border-radius: var(--box-rounding);
}

.navigation {
  display: flex;
  gap: var(--spacing);
}

.jump-controls {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  margin-top: var(--spacing);
}

.jump-controls input {
  width: var(--input-sm);
}

@media (max-width: 450px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .jump-controls {
    flex-direction: column;
    gap: var(--spacing-less);
  }

  .current-square {
    max-width: calc(100% - 2 * var(--border-size));
  }
}
