@import "./index.css";

.inputNumber {
   background: var(--global-dark);
   color: var(--primary-color);
   border: var(--primary-color) var(--border-size) solid;
   border-radius: var(--box-rounding);
   padding: var(--spacing-half) var(--spacing);
   margin: var(--spacing-half) var(--spacing-half);

   max-width: 5rem;
   min-width: 5rem;
}
